<head>
    <style>
        img {image-orientation: from-image;}

    </style>
</head>
<body bgcolor="black">
<font color="white" size="3">
    1.) How long is the longest train in this ticket to ride game?
    <img src="{{url_for('static', filename='ans_0.jpg')}}" width="50%" height="50%"/> <br>
    2.) How many cups of boba are in this picture?
    <img src="{{url_for('static', filename='ans_1.jpg')}}" width="50%" height="50%"/> <br>
    3.) How many cups are on the table?
    <img src="{{url_for('static', filename='ans_4.jpg')}}" width="50%" height="50%"/> <br>
    4.) How many fingers is Piram holding up?
    <img src="{{url_for('static', filename='ans_2.jpg')}}" width="50%" height="50%"/> <br>
    5.) How many blue troops are on the board?
    <img src="{{url_for('static', filename='ans_5.jpg')}}" width="50%" height="50%"/> <br>
    6.) How many hands are touching the floor?
    <img src="{{url_for('static', filename='ans_1_2.jpg')}}" width="50%" height="50%"/> <br>
    <br>
    Take all the numbers and combine them for your new URL
</font>
<font color="black" size="3">
    HINT: Example: http://127.0.0.1:5000/123456
</font>

</body>